@import "../components/CSSmethods/vendor.styl"

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700")



/* BUTTONS */
WHITE           = #fff
COLOR           = #34495e
THEME           = #3498db
/* BUTTONS */
SECONDARY       = #ECF0F1
SUCCESS         = #2ECC71
ALERT           = #E74C3C
/* BACKGROUNDS */
LIGHT           = #ECF0F1
DARK            = #ecf0f1
/* OTHERS */
TRANSITION      = 400ms
BORDER-RADIUS   = 4px
