@import "__init.styl"


body > section.landing
  & h1
    font-size: 6em
  & .form
    & input
      width: 100%
    & button
      width: auto

[data-graph=bar]
  height: 256px

[data-graph=pie]
  width: 25%

[data-tuktuk=totals]#overview > li
  width: 33%

  &:nth-child(2)
    border-left: solid 1px lighten(THEME, 30%)
    border-right: solid 1px lighten(THEME, 30%)

  & .icon
    font-size: 2.5em

  & strong
    display: inline-block
    font-size: 4em
    margin-left: 0.1em

  & small
    display: block
    margin-top: 0.25em

  & .icon, small
    color: lighten(THEME, 65%)


header
  & input
    width: 320px !important

.hidden
  display: none !important

.box
  opacity: 0
  transform scale(0)
  transition all 300ms

  &.active
    opacity: 1
    transform scale(1)

  &:nth-child(2)
    transition-delay: 200ms
  &:nth-child(3)
    transition-delay: 400ms
  &:nth-child(4)
    transition-delay: 600ms
  &:nth-child(5)
    transition-delay: 800ms
