@import "__init.styl"

[data-graph=bar]
  height: 320px

[data-graph=pie]
  width: 25%

[data-tuktuk=totals]#overview > li
  width: 33%
  COLOR = lighten(THEME, 65%)

  &:nth-child(2)
    border-left: solid 1px COLOR
    border-right: solid 1px COLOR

  & .icon
    font-size: 3em

  & strong
    display: inline-block
    font-size: 4.5em
    margin-left: 0.2em

  & small
    display: block
    margin-top: 1em
    font-weight: bold

  & .icon, small
    color: COLOR

[data-tuktuk=totals]#circles > li
  width: 25%
