# GENERAL
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes

# BACKEND
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar

# FRONTEND
/src/frontend/node_modules
